<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Служащие</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<script src="/js/bootstrap.bundle.min.js"></script>

<div th:replace="~{templates :: page-header}"></div>

<h1 class="display-4 text-center mb-5">
    Служащие
</h1>
<div class="container">
    <h1>Управление служащими</h1>

    <!-- Форма поиска -->
    <div class="search-form mb-4">
        <h2>Поиск служащих</h2>
        <form th:action="@{/employees}" method="get" class="row g-3">
            <div class="col-md-3">
                <label for="surname" class="form-label">Фамилия:</label>
                <input type="text" class="form-control" id="surname" name="surname" th:value="${searchSurname}">
            </div>
            <div class="col-md-3">
                <label for="name" class="form-label">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${searchName}">
            </div>
            <div class="col-md-3">
                <label for="patron" class="form-label">Отчество:</label>
                <input type="text" class="form-control" id="patron" name="patron" th:value="${searchPatron}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Поиск</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/employees'">Сбросить</button>
            </div>
        </form>
    </div>

    <a th:href="@{/employees/add}" class="btn btn-success float-end mb-3">Добавить служащего</a>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.patron}"></td>
            <td>
                <a th:href="@{/employees/{employeeId}(employeeId=${employee.id})}" class="btn btn-primary btn-sm">Просмотр</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>